openapi: 3.1.0
info:
  title: MiniMax API
  description: MiniMax API for video, image, music, speech and text generation
  version: 1.0.0
servers:
- url: https://api.minimaxi.com
security:
- bearerAuth: []
paths:
  /v1/lyrics_generation:
    post:
      tags:
      - Music
      summary: 歌词生成
      operationId: generateLyrics
      parameters:
      - name: Content-Type
        in: header
        required: true
        description: 请求体的媒介类型，请设置为 `application/json`，确保请求数据的格式为 JSON
        schema:
          type: string
          enum:
          - application/json
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateLyricsReq'
        required: true
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateLyricsResp'
  /v1/music_cover_preprocess:
    post:
      tags:
      - Music
      summary: 翻唱前处理 (Music Cover Preprocess)
      operationId: coverPreprocess
      parameters:
      - name: Content-Type
        in: header
        required: true
        description: 请求体的媒介类型，请设置为 `application/json`，确保请求数据的格式为 JSON
        schema:
          type: string
          enum:
          - application/json
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverPreprocessReq'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverPreprocessResp'
  /v1/music_generation:
    post:
      tags:
      - Music
      summary: Music Generation
      operationId: generateMusic
      parameters:
      - name: Content-Type
        in: header
        required: true
        description: 请求体的媒介类型，请设置为 `application/json`，确保请求数据的格式为 JSON
        schema:
          type: string
          enum:
          - application/json
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateMusicReq'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateMusicResp'
  /anthropic/v1/messages:
    post:
      tags:
      - Text
      - Text Generation
      summary: Text Generation Anthropic
      operationId: chatCompletionAnthropic
      parameters:
      - name: Content-Type
        in: header
        required: true
        description: 请求体的媒介类型，请设置为 `application/json`，确保请求数据的格式为 JSON
        schema:
          type: string
          enum:
          - application/json
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageReq'
            examples:
              Request:
                value:
                  model: MiniMax-M2.7
                  messages:
                  - role: user
                    content: 你好
              Stream:
                value:
                  model: MiniMax-M2.7
                  stream: true
                  messages:
                  - role: user
                    content: 你好
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMessageResp'
              examples:
                Request:
                  value:
                    id: 06379dbe27b33d7c58d8410a8efe6394
                    type: message
                    role: assistant
                    model: MiniMax-M2.7
                    content:
                    - thinking: 用户用中文说"你好"，这是一个简单的问候。我应该用中文友好地回应。
                      signature: ce704495524bad054531fe187e18b4a8d874a52fbb3923ce18fceace5e768ec9
                      type: thinking
                    - text: 你好！有什么我可以帮助你的吗？
                      type: text
                    usage:
                      input_tokens: 42
                      output_tokens: 30
                    stop_reason: end_turn
                    base_resp:
                      status_code: 0
                      status_msg: ''
                Stream:
                  value:
                  - type: message_start
                    message:
                      id: 06379e8c64a345d787539619216ee698
                      type: message
                      role: assistant
                      content: []
                      model: MiniMax-M2.7
                      stop_reason: null
                      stop_sequence: null
                      usage:
                        input_tokens: 0
                        output_tokens: 0
                      service_tier: standard
                  - type: ping
                  - type: content_block_start
                    index: 0
                    content_block:
                      type: thinking
                      thinking: ''
                  - type: content_block_delta
                    index: 0
                    delta:
                      type: thinking_delta
                      thinking: 用户
                  - type: content_block_delta
                    index: 0
                    delta:
                      type: thinking_delta
                      thinking: 用中文说"你好"，这是一个简单的问候。我应该用中文友好地回应。
                  - type: content_block_delta
                    index: 0
                    delta:
                      type: signature_delta
                      signature: ce704495524bad054531fe187e18b4a8d874a52fbb3923ce18fceace5e768ec9
                  - type: content_block_stop
                    index: 0
                  - type: content_block_start
                    index: 1
                    content_block:
                      type: text
                      text: ''
                  - type: content_block_delta
                    index: 1
                    delta:
                      type: text_delta
                      text: '


                        你好！有什么我可以帮助你的吗？'
                  - type: content_block_stop
                    index: 1
                  - type: message_delta
                    delta:
                      stop_reason: end_turn
                    usage:
                      input_tokens: 39
                      output_tokens: 29
                  - type: message_stop
            text/event-stream:
              schema:
                $ref: '#/components/schemas/StreamEvent'
              examples:
                Stream:
                  value:
                  - type: message_start
                    message:
                      id: 06379e8c64a345d787539619216ee698
                      type: message
                      role: assistant
                      content: []
                      model: MiniMax-M2.7
                      stop_reason: null
                      stop_sequence: null
                      usage:
                        input_tokens: 0
                        output_tokens: 0
                      service_tier: standard
                  - type: ping
                  - type: content_block_start
                    index: 0
                    content_block:
                      type: thinking
                      thinking: ''
                  - type: content_block_delta
                    index: 0
                    delta:
                      type: thinking_delta
                      thinking: 用户
                  - type: content_block_delta
                    index: 0
                    delta:
                      type: thinking_delta
                      thinking: 用中文说"你好"，这是一个简单的问候。我应该用中文友好地回应。
                  - type: content_block_delta
                    index: 0
                    delta:
                      type: signature_delta
                      signature: ce704495524bad054531fe187e18b4a8d874a52fbb3923ce18fceace5e768ec9
                  - type: content_block_stop
                    index: 0
                  - type: content_block_start
                    index: 1
                    content_block:
                      type: text
                      text: ''
                  - type: content_block_delta
                    index: 1
                    delta:
                      type: text_delta
                      text: '


                        你好！有什么我可以帮助你的吗？'
                  - type: content_block_stop
                    index: 1
                  - type: message_delta
                    delta:
                      stop_reason: end_turn
                    usage:
                      input_tokens: 39
                      output_tokens: 29
                  - type: message_stop
  /v1/chat/completions:
    post:
      tags:
      - Text
      - Text Generation
      summary: Text Generation OpenAI
      operationId: chatCompletionOpenAI
      parameters:
      - name: Content-Type
        in: header
        required: true
        description: 请求体的媒介类型，请设置为 `application/json`，确保请求数据的格式为 JSON
        schema:
          type: string
          enum:
          - application/json
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionReq'
            examples:
              Request:
                value:
                  model: MiniMax-M2.7
                  messages:
                  - role: system
                    name: MiniMax AI
                  - role: user
                    name: 用户
                    content: 你好
              Stream:
                value:
                  model: MiniMax-M2.7
                  messages:
                  - role: system
                    name: MiniMax AI
                  - role: user
                    name: 用户
                    content: 你好
                  stream: true
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResp'
              examples:
                Request:
                  value:
                    id: 06379b8377842dc0108975f159dc3e7c
                    choices:
                    - finish_reason: stop
                      index: 0
                      message:
                        content: '<think>用户用中文打招呼，我应该用中文回应。</think>


                          你好！有什么我可以帮助你的吗？'
                        role: assistant
                    created: 1776838788
                    model: MiniMax-M2.7
                    object: chat.completion
                    usage:
                      total_tokens: 43
                      total_characters: 0
                      prompt_tokens: 22
                      completion_tokens: 21
                      prompt_tokens_details:
                        cached_tokens: 0
                    input_sensitive: false
                    output_sensitive: false
                    input_sensitive_type: 0
                    output_sensitive_type: 0
                    output_sensitive_int: 0
                    base_resp:
                      status_code: 0
                      status_msg: success
                Stream:
                  value:
                  - id: 06379c22ee61299eeadfb33e3b3e9102
                    choices:
                    - index: 0
                      delta:
                        content: '<think>

                          用户用'
                        role: assistant
                        name: MiniMax AI
                        audio_content: ''
                    created: 1776838946
                    model: MiniMax-M2.7
                    object: chat.completion.chunk
                    usage: null
                    input_sensitive: false
                    output_sensitive: false
                    input_sensitive_type: 0
                    output_sensitive_type: 0
                    output_sensitive_int: 0
                  - id: 06379c22ee61299eeadfb33e3b3e9102
                    choices:
                    - finish_reason: stop
                      index: 0
                      delta:
                        content: '中文打招呼说"你好"。我应该友好地回应，并询问有什么可以帮助的。

                          </think>


                          你好！有什么我可以帮助你的吗？'
                        role: assistant
                        name: MiniMax AI
                        audio_content: ''
                    created: 1776838946
                    model: MiniMax-M2.7
                    object: chat.completion.chunk
                    usage: null
                    input_sensitive: false
                    output_sensitive: false
                    input_sensitive_type: 0
                    output_sensitive_type: 0
                    output_sensitive_int: 0
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ChatCompletionChunk'
              examples:
                Stream:
                  value:
                  - id: 06379c22ee61299eeadfb33e3b3e9102
                    choices:
                    - index: 0
                      delta:
                        content: '<think>

                          用户用'
                        role: assistant
                        name: MiniMax AI
                        audio_content: ''
                    created: 1776838946
                    model: MiniMax-M2.7
                    object: chat.completion.chunk
                    usage: null
                    input_sensitive: false
                    output_sensitive: false
                    input_sensitive_type: 0
                    output_sensitive_type: 0
                    output_sensitive_int: 0
                  - id: 06379c22ee61299eeadfb33e3b3e9102
                    choices:
                    - finish_reason: stop
                      index: 0
                      delta:
                        content: '中文打招呼说"你好"。我应该友好地回应，并询问有什么可以帮助的。

                          </think>


                          你好！有什么我可以帮助你的吗？'
                        role: assistant
                        name: MiniMax AI
                        audio_content: ''
                    created: 1776838946
                    model: MiniMax-M2.7
                    object: chat.completion.chunk
                    usage: null
                    input_sensitive: false
                    output_sensitive: false
                    input_sensitive_type: 0
                    output_sensitive_type: 0
                    output_sensitive_int: 0
  /v1/files/retrieve:
    get:
      tags:
      - Video
      - Files
      summary: Retrieve File
      operationId: retrieveFile
      parameters:
      - name: file_id
        in: query
        required: true
        description: '文件的唯一标识符

          支持视频任务状态查询接口获得的 `file_id`'
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveFileResp'
  /v1/files/delete:
    post:
      tags:
      - File Management
      - Files
      summary: Delete File
      operationId: deleteFile
      parameters:
      - name: Content-Type
        in: header
        required: true
        description: '请求体的媒介类型 `multipart/form-data` '
        schema:
          type: string
          enum:
          - multipart/form-data
          default: multipart/form-datan
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteFileReq'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFileResp'
  /v1/files/list:
    get:
      tags:
      - File Management
      - Files
      summary: List Files
      operationId: listFiles
      parameters:
      - name: purpose
        in: query
        required: true
        description: '列出文件分类。取值及支持格式如下：


          1. __voice_clone__: 快速复刻原始文件

          2. __prompt_audio__: 音色复刻的示例音频

          3. __t2a_async__: 异步长文本语音生成合成中音频'
        schema:
          type: string
          enum:
          - voice_clone
          - prompt_audio
          - t2a_async_input
          example: t2a_async_input
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileResp'
  /v1/files/retrieve_content:
    get:
      tags:
      - File Management
      - Files
      summary: Retrieve File Content
      operationId: retrieveFileContent
      parameters:
      - name: file_id
        in: query
        required: true
        description: 需要下载的文件ID
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: string
                format: binary
  /v1/files/upload:
    post:
      tags:
      - Voice Cloning
      - Files
      summary: Upload File
      operationId: uploadFile
      parameters:
      - name: Content-Type
        in: header
        required: true
        description: '请求体的媒介类型 `multipart/form-data` '
        schema:
          type: string
          enum:
          - multipart/form-data
          default: multipart/form-datan
      requestBody:
        description: ''
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - purpose
              - file
              properties:
                purpose:
                  type: string
                  description: '文件使用目的。取值及支持格式如下：

                    - __prompt_audio__: 快速复刻原始文件，（支持mp3、m4a、wav格式）'
                  default: prompt_audio
                  enum:
                  - prompt_audio
                  example: prompt_audio
                file:
                  type: string
                  format: binary
                  description: "需要上传的文件。填写文件的路径地址 \n\n支持上传的文件需遵从以下规范：\n- 上传的音频文件格式需为：mp3、m4a、wav格式\n\
                    - 上传的音频文件的时长小于8s\n- 上传的音频文件大小需不超过20mb"
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadFileResp'
  /v1/query/video_generation:
    get:
      tags:
      - Video
      summary: Query Video Generation Task
      operationId: queryVideoGenerationTask
      parameters:
      - name: task_id
        in: query
        required: true
        description: 待查询的任务 ID。只能查询当前账号创建的任务
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryVideoGenerationTaskResp'
  /v1/video_generation:
    post:
      tags:
      - Video
      summary: Video Generation
      operationId: videoGeneration
      parameters:
      - name: Content-Type
        in: header
        required: true
        description: 请求体的媒介类型，请设置为 `application/json` 确保请求数据的格式为 JSON.
        schema:
          type: string
          enum:
          - application/json
          default: application/json
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationReq'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResp'
  /v1/image_generation:
    post:
      tags:
      - Image
      summary: Image Generation
      operationId: imageGeneration
      parameters:
      - name: Content-Type
        in: header
        required: true
        description: 请求体的媒介类型，请设置为 `application/json` 确保请求数据的格式为 JSON.
        schema:
          type: string
          enum:
          - application/json
          default: application/json
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGenerationReq'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageGenerationResp'
  /v1/voice_design:
    post:
      tags:
      - Voice Design
      - Voice
      summary: Voice Design
      operationId: voiceDesign
      parameters:
      - name: Content-Type
        in: header
        required: true
        description: 请求体的媒介类型，请设置为 `application/json`，确保请求数据的格式为 JSON
        schema:
          type: string
          enum:
          - application/json
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/T2VReq'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/T2VResp'
  /v1/voice_clone:
    post:
      tags:
      - Voice Cloning
      - Voice
      summary: Voice Clone
      operationId: voiceClone
      requestBody:
        description: Voice clone request parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceCloneReq'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceCloneResp'
  /v1/t2a_async_v2:
    post:
      tags:
      - Text to Audio Async
      - Text to Audio
      summary: Text to Audio Async V2
      operationId: t2aAsyncV2
      parameters:
      - name: Content-Type
        in: header
        required: true
        description: 请求体的媒介类型，请设置为 `application/json`，确保请求数据的格式为 JSON
        schema:
          type: string
          enum:
          - application/json
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/T2AAsyncV2Req'
            examples:
              文本输入:
                value:
                  model: speech-2.8-hd
                  text: 真正的危险不是计算机开始像人一样思考(sighs)，而是人开始像计算机一样思考。计算机只是可以帮我们处理一些简单事务。
                  language_boost: auto
                  voice_setting:
                    voice_id: audiobook_male_1
                    speed: 1
                    vol: 1
                    pitch: 1
                  pronunciation_dict:
                    tone:
                    - 危险/dangerous
                  audio_setting:
                    audio_sample_rate: 32000
                    bitrate: 128000
                    format: mp3
                    channel: 2
                  voice_modify:
                    pitch: 0
                    intensity: 0
                    timbre: 0
                    sound_effects: spacious_echo
              文件输入:
                value:
                  model: speech-2.8-hd
                  text_file_id: text_file_id
                  language_boost: auto
                  voice_setting:
                    voice_id: audiobook_male_1
                    speed: 1
                    vol: 10
                    pitch: 1
                  pronunciation_dict:
                    tone:
                    - 草地/(cao3)(di1)
                  audio_setting:
                    audio_sample_rate: 32000
                    bitrate: 128000
                    format: mp3
                    channel: 2
                  voice_modify:
                    pitch: 0
                    intensity: 0
                    timbre: 0
                    sound_effects: spacious_echo
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/T2AAsyncV2Resp'
              examples:
                文本输入:
                  value:
                    task_id: 95157322514444
                    task_token: eyJhbGciOiJSUz
                    file_id: 95157322514444
                    usage_characters: 101
                    base_resp:
                      status_code: 0
                      status_msg: success
                文件输入:
                  value:
                    task_id: 95157322514444
                    task_token: eyJhbGciOiJSUz
                    file_id: 95157322514444
                    usage_characters: 101
                    base_resp:
                      status_code: 0
                      status_msg: success
  /v1/query/t2a_async_query_v2:
    get:
      tags:
      - Text to Audio Async
      - Text to Audio
      summary: Query T2A Async V2 Task Status
      operationId: t2aAsyncV2Query
      parameters:
      - name: task_id
        in: query
        required: true
        description: 任务 ID，提交任务时返回的信息
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/T2AAsyncV2QueryResp'
  /v1/delete_voice:
    post:
      tags:
      - Voice Management
      - Voice
      summary: Delete Voice
      description: Delete a voice by ID and type
      operationId: deleteVoice
      parameters:
      - name: Content-Type
        in: header
        required: true
        description: 请求体的媒介类型，请设置为 `application/json`，确保请求数据的格式为 JSON
        schema:
          type: string
          enum:
          - application/json
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteVoiceReq'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteVoiceResp'
  /v1/get_voice:
    post:
      tags:
      - Voice Management
      - Voice
      summary: Get Voice
      operationId: getVoice
      parameters:
      - name: Content-Type
        in: header
        required: true
        description: 请求体的媒介类型，请设置为 `application/json`，确保请求数据的格式为 JSON
        schema:
          type: string
          enum:
          - application/json
          default: application/json
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetVoiceReq'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoiceResp'
  /v1/t2a_v2:
    post:
      tags:
      - Text to Audio Sync
      - Text to Audio
      summary: Text to Audio V2
      operationId: t2aV2
      parameters:
      - name: Content-Type
        in: header
        required: true
        description: 请求体的媒介类型，请设置为 `application/json`，确保请求数据的格式为 JSON
        schema:
          type: string
          enum:
          - application/json
          default: application/json
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/T2aV2Req'
            examples:
              非流式:
                value:
                  model: speech-2.8-hd
                  text: 今天是不是很开心呀(laughs)，当然了！
                  stream: false
                  voice_setting:
                    voice_id: male-qn-qingse
                    speed: 1
                    vol: 1
                    pitch: 0
                    emotion: happy
                  pronunciation_dict:
                    tone:
                    - 处理/(chu3)(li3)
                    - 危险/dangerous
                  audio_setting:
                    sample_rate: 32000
                    bitrate: 128000
                    format: mp3
                    channel: 1
                  subtitle_enable: false
              流式:
                value:
                  model: speech-2.8-hd
                  text: 今天是不是很开心呀(laughs)，当然了！
                  stream: true
                  voice_setting:
                    voice_id: male-qn-qingse
                    speed: 1
                    vol: 1
                    pitch: 0
                    emotion: happy
                  pronunciation_dict:
                    tone:
                    - 处理/(chu3)(li3)
                    - 危险/dangerous
                  audio_setting:
                    sample_rate: 32000
                    bitrate: 128000
                    format: mp3
                    channel: 1
                  subtitle_enable: false
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/T2aV2Resp'
              examples:
                非流式:
                  value:
                    data:
                      audio: <hex编码的audio>
                      status: 2
                    extra_info:
                      audio_length: 9900
                      audio_sample_rate: 32000
                      audio_size: 160323
                      bitrate: 128000
                      word_count: 52
                      invisible_character_ratio: 0
                      usage_characters: 26
                      audio_format: mp3
                      audio_channel: 1
                    trace_id: 01b8bf9bb7433cc75c18eee6cfa8fe21
                    base_resp:
                      status_code: 0
                      status_msg: success
                流式:
                  value:
                  - data:
                      audio: hex编码的audio_chunk1
                      status: 1
                    trace_id: 01b8bf9bb7433cc75c18eee6cfa8fe21
                    base_resp:
                      status_code: 0
                      status_msg: ''
                  - data:
                      audio: hex编码的audio_chunk2
                      status: 1
                    trace_id: 01b8bf9bb7433cc75c18eee6cfa8fe21
                    base_resp:
                      status_code: 0
                      status_msg: ''
                  - data:
                      audio: hex编码的audio
                      status: 2
                    extra_info:
                      audio_length: 6931
                      audio_sample_rate: 32000
                      audio_size: 111789
                      bitrate: 128000
                      word_count: 112
                      invisible_character_ratio: 0
                      usage_characters: 112
                      audio_format: mp3
                      audio_channel: 1
                    trace_id: 04ece790375f3ca2edbb44e8c4c200bf
                    base_resp:
                      status_code: 0
                      status_msg: success
            text/event-stream:
              schema:
                $ref: '#/components/schemas/T2aV2Resp'
              examples:
                流式:
                  value:
                  - data:
                      audio: hex编码的audio_chunk1
                      status: 1
                    trace_id: 01b8bf9bb7433cc75c18eee6cfa8fe21
                    base_resp:
                      status_code: 0
                      status_msg: ''
                  - data:
                      audio: hex编码的audio_chunk2
                      status: 1
                    trace_id: 01b8bf9bb7433cc75c18eee6cfa8fe21
                    base_resp:
                      status_code: 0
                      status_msg: ''
                  - data:
                      audio: hex编码的audio
                      status: 2
                    extra_info:
                      audio_length: 6931
                      audio_sample_rate: 32000
                      audio_size: 111789
                      bitrate: 128000
                      word_count: 112
                      invisible_character_ratio: 0
                      usage_characters: 112
                      audio_format: mp3
                      audio_channel: 1
                    trace_id: 04ece790375f3ca2edbb44e8c4c200bf
                    base_resp:
                      status_code: 0
                      status_msg: success
components:
  schemas:
    GenerateLyricsReq:
      type: object
      required:
      - mode
      properties:
        mode:
          type: string
          description: 生成模式。<br>`write_full_song`：写完整歌曲<br>`edit`：编辑/续写歌词
          enum:
          - write_full_song
          - edit
        prompt:
          type: string
          description: 提示词/指令，用于描述歌曲主题、风格或编辑方向。为空时随机生成。
          maxLength: 2000
        lyrics:
          type: string
          description: 现有歌词内容，仅在 `edit` 模式下有效。可用于续写或修改已有歌词。
          maxLength: 3500
        title:
          type: string
          description: 歌曲标题。传入后输出将保持该标题不变。
      example:
        mode: write_full_song
        prompt: 一首关于夏日海边的轻快情歌
    GenerateLyricsResp:
      type: object
      properties:
        song_title:
          type: string
          description: 生成的歌名。若请求传入 `title` 则保持一致。
        style_tags:
          type: string
          description: 风格标签，逗号分隔。例如：`Pop, Upbeat, Female Vocals`
        lyrics:
          type: string
          description: 生成的歌词，包含结构标签。可直接用于[音乐生成接口](/api-reference/music-generation)的
            `lyrics` 参数生成歌曲。<br>支持的结构标签（14种）：`[Intro]`, `[Verse]`, `[Pre-Chorus]`,
            `[Chorus]`, `[Hook]`, `[Drop]`, `[Bridge]`, `[Solo]`, `[Build-up]`, `[Instrumental]`,
            `[Breakdown]`, `[Break]`, `[Interlude]`, `[Outro]`
        base_resp:
          $ref: '#/components/schemas/BaseResp'
      example:
        song_title: 夏日海风的约定
        style_tags: Mandopop, Summer Vibe, Romance, Lighthearted, Beach Pop
        lyrics: '[Intro]

          (Ooh-ooh-ooh)

          (Yeah)

          阳光洒满了海面


          [Verse 1]

          海风轻轻吹拂你发梢

          Smiling face, like a summer dream

          浪花拍打着脚边

          Leaving footprints, you and me

          沙滩上留下我们的笑

          Every moment, a sweet melody

          看着你眼中的闪耀

          Like the stars in the deep blue sea


          [Pre-Chorus]

          你说这感觉多么奇妙

          (So wonderful)

          想要永远停留在这一秒

          (Right here, right now)

          心跳加速，像海浪在奔跑


          [Chorus]

          Oh, 夏日的海边，我们的约定

          阳光下，你的身影，如此动听

          微风吹散了烦恼，只留下甜蜜

          这瞬间，只想和你，永远在一起

          (永远在一起)


          [Verse 2]

          ...'
        base_resp:
          status_code: 0
          status_msg: success
    BaseResp:
      type: object
      description: 状态码及详情
      properties:
        status_code:
          type: integer
          description: '状态码及其分别含义如下：


            `0`: 请求成功


            `1002`: 触发限流，请稍后再试


            `1004`: 账号鉴权失败，请检查 API-Key 是否填写正确


            `1008`: 账号余额不足


            `1026`: 输入包含敏感内容


            `2013`: 传入参数异常，请检查入参是否按要求填写


            `2049`: 无效的api key


            更多内容可查看 [错误码查询列表](/api-reference/errorcode) 了解详情'
        status_msg:
          type: string
          description: 具体错误详情
    CoverPreprocessReq:
      type: object
      required:
      - model
      properties:
        model:
          type: string
          description: 模型名称。必须为 `music-cover`。
          enum:
          - music-cover
        audio_url:
          type: string
          description: '参考音频的 URL 地址。`audio_url` 和 `audio_base64` 必须且只能提供其中一个。


            参考音频要求：

            - 时长：6 秒至 6 分钟

            - 大小：最大 50 MB

            - 格式：支持常见音频格式（mp3、wav、flac 等）'
        audio_base64:
          type: string
          description: 'Base64 编码的参考音频。`audio_url` 和 `audio_base64` 必须且只能提供其中一个。


            参考音频要求：

            - 时长：6 秒至 6 分钟

            - 大小：最大 50 MB

            - 格式：支持常见音频格式（mp3、wav、flac 等）'
      example:
        model: music-cover
        audio_url: https://example.com/song.mp3
    CoverPreprocessResp:
      type: object
      properties:
        cover_feature_id:
          type: string
          description: '预处理后的音频特征唯一标识，有效期 24 小时。将此 ID 传入[音乐生成接口](/api-reference/music-generation)的
            `cover_feature_id` 参数以进行两步翻唱。


            相同音频内容会返回相同的 `cover_feature_id`（基于 MD5 去重）。'
        formatted_lyrics:
          type: string
          description: 通过 ASR 从参考音频中提取并格式化的歌词，包含 `[Verse]`、`[Chorus]`、`[Bridge]` 等段落标签。你可以修改这些歌词后传入音乐生成接口。
        structure_result:
          type: string
          description: JSON 字符串，包含歌曲结构分析结果，含段落类型（`intro`、`verse`、`chorus`、`bridge`、`outro`、`inst`、`silence`）及其起止时间戳（秒）。
        audio_duration:
          type: number
          format: double
          description: 参考音频的时长（秒）。
        trace_id:
          type: string
          description: 请求追踪 ID。
        base_resp:
          $ref: '#/components/schemas/BaseResp'
      example:
        cover_feature_id: a1b2c3d4e5f67890abcdef1234567890
        formatted_lyrics: '[Verse 1]

          歌曲第一行

          歌曲第二行


          [Chorus]

          这是副歌部分

          高声歌唱'
        structure_result: '{"num_segments":4,"segments":[{"start":0,"end":15.5,"label":"intro"},{"start":15.5,"end":45.2,"label":"verse"},{"start":45.2,"end":75.0,"label":"chorus"},{"start":75.0,"end":90.0,"label":"outro"}]}'
        audio_duration: 90
        trace_id: 061e5f144eb7f10b1fdde81126e24f91
        base_resp:
          status_code: 0
          status_msg: success
    GenerateMusicReq:
      type: object
      required:
      - model
      properties:
        model:
          type: string
          description: '使用的模型名称。可选值：


            - `music-2.6`（推荐）：文本生成音乐，仅限 Token Plan 用户和付费用户使用，RPM 较高

            - `music-cover`：基于参考音频生成翻唱版本，仅限 Token Plan 用户和付费用户使用，RPM 较高

            - `music-2.6-free`：`music-2.6` 的限免版本，所有用户可通过 API Key 使用，RPM 较低

            - `music-cover-free`：`music-cover` 的限免版本，所有用户可通过 API Key 使用，RPM 较低'
          enum:
          - music-2.6
          - music-cover
          - music-2.6-free
          - music-cover-free
        prompt:
          type: string
          description: '音乐的描述，用于指定风格、情绪和场景。例如"流行音乐, 难过, 适合在下雨的晚上"。<br>注意：

            - `music-2.6` / `music-2.6-free` 纯音乐（`is_instrumental: true`）：必填，长度限制
            [1, 2000] 个字符

            - `music-2.6` / `music-2.6-free`（非纯音乐）：可选，长度限制 [0, 2000] 个字符

            - `music-cover` / `music-cover-free`：必填，描述目标翻唱风格，长度限制 [10, 300] 个字符'
          maxLength: 2000
        lyrics:
          type: string
          description: '歌曲歌词，使用 `\n` 分隔每行。支持结构标签：`[Intro]`, `[Verse]`, `[Pre Chorus]`,
            `[Chorus]`, `[Interlude]`, `[Bridge]`, `[Outro]`, `[Post Chorus]`, `[Transition]`,
            `[Break]`, `[Hook]`, `[Build Up]`, `[Inst]`, `[Solo]`。

            <br>

            注意：

            - `music-2.6` / `music-2.6-free` 纯音乐（`is_instrumental: true`）：非必填

            - `music-2.6` / `music-2.6-free`（非纯音乐）：必填，长度限制 [1, 3500] 个字符

            - `music-cover` / `music-cover-free`：可选，如不传则通过 ASR 自动从参考音频中提取歌词，长度限制 [10,
            1000] 个字符

            - 当 `lyrics_optimizer: true` 且 `lyrics` 为空时，系统将根据 `prompt` 自动生成歌词'
          minLength: 1
          maxLength: 3500
        stream:
          type: boolean
          description: 是否使用流式传输，默认为 `false`
          default: false
        output_format:
          type: string
          description: 音频的返回格式，可选值为 `url` 或 `hex`，默认为 `hex`。当 `stream` 为 `true` 时，仅支持
            `hex` 格式。注意：url 的有效期为 24 小时，请及时下载
          enum:
          - url
          - hex
          default: hex
        audio_setting:
          $ref: '#/components/schemas/AudioSetting'
        aigc_watermark:
          type: boolean
          description: '是否在音频末尾添加水印，默认为 `false`。仅在非流式 (`stream: false`) 请求时生效'
        lyrics_optimizer:
          type: boolean
          description: '是否根据 `prompt` 描述自动生成歌词。仅 `music-2.6` / `music-2.6-free` 支持。


            设为 `true` 且 `lyrics` 为空时，系统会根据 prompt 自动生成歌词。默认为 `false`'
          default: false
        is_instrumental:
          type: boolean
          description: '是否生成纯音乐（无人声）。仅 `music-2.6` / `music-2.6-free` 支持。


            设为 `true` 时，`lyrics` 字段非必填。默认为 `false`'
          default: false
        audio_url:
          type: string
          description: '参考音频的 URL 地址。仅用于 `music-cover` / `music-cover-free` 模型。`audio_url`
            和 `audio_base64` 必须且只能提供其中一个。与 `cover_feature_id` 互斥。


            参考音频要求：

            - 时长：6 秒至 6 分钟

            - 大小：最大 50 MB

            - 格式：支持常见音频格式（mp3、wav、flac 等）'
        audio_base64:
          type: string
          description: 'Base64 编码的参考音频。仅用于 `music-cover` / `music-cover-free` 模型。`audio_url`
            和 `audio_base64` 必须且只能提供其中一个。与 `cover_feature_id` 互斥。


            参考音频要求：

            - 时长：6 秒至 6 分钟

            - 大小：最大 50 MB

            - 格式：支持常见音频格式（mp3、wav、flac 等）'
        cover_feature_id:
          type: string
          description: '[翻唱前处理](/api-reference/music-cover-preprocess) 接口返回的特征 ID，用于**两步翻唱流程**，支持修改歌词后生成翻唱。


            仅用于 `music-cover` / `music-cover-free` 模型。与 `audio_url` 和 `audio_base64`
            互斥。


            - 传入时 `lyrics` 为必填（长度限制 [10, 1000] 个字符）

            - `cover_feature_id` 有效期为 24 小时

            - 相同音频内容返回相同的 `cover_feature_id`'
      example:
        model: music-2.6
        prompt: 独立民谣,忧郁,内省,渴望,独自漫步,咖啡馆
        lyrics: '[verse]

          街灯微亮晚风轻抚

          影子拉长独自漫步

          旧外套裹着深深忧郁

          不知去向渴望何处

          [chorus]

          推开木门香气弥漫

          熟悉的角落陌生人看'
        audio_setting:
          sample_rate: 44100
          bitrate: 256000
          format: mp3
    GenerateMusicResp:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/MusicData'
        base_resp:
          $ref: '#/components/schemas/BaseResp'
      example:
        data:
          audio: hex编码的音频数据
          status: 2
        trace_id: 04ede0ab069fb1ba8be5156a24b1e081
        extra_info:
          music_duration: 25364
          music_sample_rate: 44100
          music_channel: 2
          bitrate: 256000
          music_size: 813651
        analysis_info: null
        base_resp:
          status_code: 0
          status_msg: success
    AudioSetting:
      type: object
      description: 音频输出配置
      properties:
        sample_rate:
          type: integer
          description: 采样率。可选值：`16000`, `24000`, `32000`, `44100`
        bitrate:
          type: integer
          description: 比特率。可选值：`32000`, `64000`, `128000`, `256000`
        format:
          type: string
          description: 音频编码格式。
          enum:
          - mp3
          - wav
          - pcm
    MusicData:
      type: object
      properties:
        status:
          type: integer
          description: '音乐合成状态：

            1: 合成中

            2: 已完成'
        audio:
          type: string
          description: 当 `output_format` 为 `hex` 时返回，是音频文件的 16 进制编码字符串
    CreateMessageReq:
      type: object
      required:
      - model
      - messages
      properties:
        model:
          type: string
          description: 模型 ID
          enum:
          - MiniMax-M2.7
          - MiniMax-M2.7-highspeed
          - MiniMax-M2.5
          - MiniMax-M2.1
        system:
          description: 设定模型的角色和行为
          oneOf:
          - type: string
            description: 纯文本系统提示词
          - type: array
            description: 内容块数组格式的系统提示词
            items:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - text
                  description: 内容块类型
                text:
                  type: string
                  description: 文本内容
              required:
              - type
              - text
        messages:
          type: array
          description: 包含对话历史的消息列表
          items:
            $ref: '#/components/schemas/Message'
        stream:
          type: boolean
          description: 是否使用流式传输，默认为 `false`。设置为 `true` 后，响应将分批返回
          default: false
        max_tokens:
          type: integer
          format: int64
          description: 指定生成内容长度的上限（Token 数），上限为 2048。超过上限的内容会被截断。如果生成因 `length` 原因中断，请尝试调高此值
          minimum: 1
        temperature:
          type: number
          format: double
          description: 温度系数，影响输出随机性，取值范围 (0, 1]，`MiniMax-M2.7` 模型默认值为 1.0。值越高，输出越随机；值越低，输出越确定
          minimum: 0
          exclusiveMinimum: 0
          maximum: 1
          default: 1
        top_p:
          type: number
          format: double
          description: 采样策略，影响输出随机性，取值范围 (0, 1]，`MiniMax-M2.7` 模型默认值为 0.95
          minimum: 0
          exclusiveMinimum: 0
          maximum: 1
          default: 0.95
    CreateMessageResp:
      type: object
      properties:
        id:
          type: string
          description: 本次响应的唯一 ID
        type:
          type: string
          description: 对象类型，固定为 `message`
          enum:
          - message
        role:
          type: string
          description: 角色，固定为 `assistant`
          enum:
          - assistant
        model:
          type: string
          description: 本次请求使用的模型 ID
        content:
          type: array
          description: 响应内容块列表
          items:
            $ref: '#/components/schemas/ContentBlock'
        stop_reason:
          type: string
          description: '生成停止的原因：

            - `end_turn`: 模型自然结束

            - `max_tokens`: 达到 `max_tokens` 上限

            - `stop_sequence`: 命中停止序列'
          enum:
          - end_turn
          - max_tokens
          - stop_sequence
        usage:
          $ref: '#/components/schemas/Usage'
        base_resp:
          type: object
          description: 错误状态码和详情
          properties:
            status_code:
              type: integer
              format: int64
              description: '状态码


                - `1000`: 未知错误

                - `1001`: 请求超时

                - `1002`: 触发限流

                - `1004`: 鉴权失败

                - `1008`: 余额不足

                - `1013`: 服务内部错误

                - `1027`: 输出内容错误

                - `1039`:  Token 超出限制

                - `2013`: 参数错误


                更多内容可查看 [错误码查询列表](/api-reference/errorcode) 了解详情'
            status_msg:
              type: string
              description: 错误详情
    StreamEvent:
      type: object
      description: ''
      required:
      - type
      properties:
        type:
          type: string
          description: '事件类型：

            - `message_start`: 消息开始，包含完整的消息元数据

            - `ping`: 心跳事件

            - `content_block_start`: 内容块开始

            - `content_block_delta`: 内容块增量更新

            - `content_block_stop`: 内容块结束

            - `message_delta`: 消息级别的增量更新（如 stop_reason）

            - `message_stop`: 消息结束'
          enum:
          - message_start
          - ping
          - content_block_start
          - content_block_delta
          - content_block_stop
          - message_delta
          - message_stop
        message:
          type: object
          description: 消息对象（`type` 为 `message_start` 时返回）
          properties:
            id:
              type: string
              description: 消息的唯一 ID
            type:
              type: string
              enum:
              - message
            role:
              type: string
              enum:
              - assistant
            content:
              type: array
              description: 内容块列表，初始为空数组
              items:
                $ref: '#/components/schemas/ContentBlock'
            model:
              type: string
              description: 模型 ID
            stop_reason:
              type: string
              nullable: true
              description: 停止原因，流式开始时为 null
            stop_sequence:
              type: string
              nullable: true
              description: 停止序列，流式开始时为 null
            usage:
              $ref: '#/components/schemas/Usage'
            service_tier:
              type: string
              description: 服务层级
        index:
          type: integer
          description: 内容块的索引（`content_block_start`、`content_block_delta`、`content_block_stop`
            时返回）
        content_block:
          $ref: '#/components/schemas/ContentBlock'
          description: 内容块对象（`type` 为 `content_block_start` 时返回）
        delta:
          type: object
          description: 增量更新内容（`content_block_delta` 或 `message_delta` 时返回）
          properties:
            type:
              type: string
              description: 增量类型，如 `text_delta`
            text:
              type: string
              description: 增量文本内容
            stop_reason:
              type: string
              description: 停止原因（`message_delta` 时返回）
              enum:
              - end_turn
              - max_tokens
              - stop_sequence
        usage:
          $ref: '#/components/schemas/Usage'
          description: Token 使用情况（`message_delta` 时返回）
    Message:
      type: object
      required:
      - role
      - content
      properties:
        role:
          type: string
          enum:
          - user
          - assistant
          - user_system
          - group
          - sample_message_user
          - sample_message_ai
          description: '消息发送者的角色

            - `user`: 用户的输入

            - `assistant`: 模型的历史回复

            - `user_system`: 设定用户的角色和人设

            - `group`: 对话的名称

            - `sample_message_user`: 示例的用户输入

            - `sample_message_ai`: 示例的模型输出'
        content:
          description: 消息内容，支持纯文本字符串或内容块数组
          oneOf:
          - type: string
            description: 纯文本消息
          - type: array
            description: 内容块数组，支持文本和思考等内容块
            items:
              $ref: '#/components/schemas/ContentBlock'
    ContentBlock:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          description: '内容块类型：

            - `text`: 文本内容

            - `thinking`: 模型思考过程'
          enum:
          - text
          - thinking
        text:
          type: string
          description: 文本内容（当 `type` 为 `text` 时）
        thinking:
          type: string
          description: 模型的思考过程内容（当 `type` 为 `thinking` 时）
        signature:
          type: string
          description: 思考内容的签名（当 `type` 为 `thinking` 时）
    Usage:
      type: object
      description: 本次请求的 Token 使用情况
      properties:
        input_tokens:
          type: integer
          description: 输入消耗的 Token 数
        output_tokens:
          type: integer
          description: 输出消耗的 Token 数
    ChatCompletionReq:
      type: object
      required:
      - model
      - messages
      properties:
        model:
          type: string
          description: 模型 ID
          enum:
          - MiniMax-M2.7
          - MiniMax-M2.7-highspeed
          - MiniMax-M2.5
          - MiniMax-M2.1
        stream:
          type: boolean
          description: 是否使用流式传输，默认为 `false`。设置为 `true` 后，响应将分批返回
          default: false
        max_completion_tokens:
          type: integer
          format: int64
          description: 指定生成内容长度的上限（Token 数），上限为 2048。超过上限的内容会被截断。如果生成因 `length` 原因中断，请尝试调高此值
          minimum: 1
        temperature:
          type: number
          format: double
          description: 温度系数，影响输出随机性，取值范围 (0, 1]，模型默认值为 1.0。值越高，输出越随机；值越低，输出越确定
          minimum: 0
          exclusiveMinimum: 0
          maximum: 1
          default: 1
        top_p:
          type: number
          format: double
          description: 采样策略，影响输出随机性，取值范围 (0, 1]，模型默认值为 0.95
          minimum: 0
          exclusiveMinimum: 0
          maximum: 1
          default: 0.95
        messages:
          type: array
          description: 包含对话历史的消息列表。更多 message 参数说明请参考 [文本对话使用指南](/guides/text-chat)
          items:
            $ref: '#/components/schemas/Message'
    ChatCompletionResp:
      type: object
      properties:
        id:
          type: string
          description: 本次响应的唯一 ID
        choices:
          type: array
          description: 响应选择列表
          items:
            type: object
            properties:
              finish_reason:
                type: string
                description: 生成停止的原因：`stop` (自然结束), `length` (达到 `max_completion_tokens`
                  上限)
                enum:
                - stop
                - length
              index:
                type: integer
                description: 选项的索引，从 0 开始
              message:
                type: object
                description: 模型生成的完整回复
                required:
                - content
                - role
                properties:
                  content:
                    type: string
                    description: 文本回复内容
                  role:
                    type: string
                    description: 角色，固定为 `assistant`
                    enum:
                    - assistant
        created:
          type: integer
          format: int64
          description: 响应创建的 Unix 时间戳（秒）
        model:
          type: string
          description: 本次请求使用的模型 ID
        object:
          type: string
          description: 对象类型。非流式为 `chat.completion`，流式为 `chat.completion.chunk`
          enum:
          - chat.completion
          - chat.completion.chunk
        usage:
          $ref: '#/components/schemas/Usage'
        input_sensitive:
          type: boolean
          description: 输入内容是否命中敏感词。如果输入内容严重违规，接口会返回内容违规错误信息，回复内容为空
        input_sensitive_type:
          type: integer
          format: int64
          description: 输入命中敏感词类型，当input_sensitive为true时返回。取值为以下其一：1 严重违规；2 色情；3 广告；4
            违禁；5 谩骂；6 暴恐；7 其他
        output_sensitive:
          type: boolean
          description: 输出内容是否命中敏感词。如果输出内容严重违规，接口会返回内容违规错误信息，回复内容为空
        output_sensitive_type:
          type: integer
          format: int64
          description: 输出命中敏感词类型
        base_resp:
          type: object
          description: 错误状态码和详情
          properties:
            status_code:
              type: integer
              format: int64
              description: '状态码


                - `1000`: 未知错误

                - `1001`: 请求超时

                - `1002`: 触发限流

                - `1004`: 鉴权失败

                - `1008`: 余额不足

                - `1013`: 服务内部错误

                - `1027`: 输出内容错误

                - `1039`:  Token 超出限制

                - `2013`: 参数错误


                更多内容可查看 [错误码查询列表](/api-reference/errorcode) 了解详情'
            status_msg:
              type: string
              description: 错误详情
    ChatCompletionChunk:
      type: object
      description: ''
      properties:
        id:
          type: string
          description: 本次响应的唯一 ID
        choices:
          type: array
          description: 流式响应选择列表
          items:
            type: object
            properties:
              index:
                type: integer
                description: 选项的索引，从 0 开始
              delta:
                type: object
                description: 增量内容
                properties:
                  role:
                    type: string
                    description: 角色，固定为 `assistant`
                    enum:
                    - assistant
                  content:
                    type: string
                    description: 增量文本内容
              finish_reason:
                type: string
                nullable: true
                description: 生成停止的原因，未结束时为 null：`stop`（自然结束），`length`（达到 `max_completion_tokens`
                  上限）
                enum:
                - stop
                - length
        created:
          type: integer
          format: int64
          description: 响应创建的 Unix 时间戳（秒）
        model:
          type: string
          description: 本次请求使用的模型 ID
        object:
          type: string
          description: 对象类型，固定为 `chat.completion.chunk`
          enum:
          - chat.completion.chunk
        usage:
          $ref: '#/components/schemas/Usage'
          description: Token 使用情况（仅在最后一个 chunk 中返回）
        input_sensitive_type:
          type: integer
          format: int64
          description: 输入命中敏感词类型
        output_sensitive:
          type: boolean
          description: 输出内容是否命中敏感词
        output_sensitive_type:
          type: integer
          format: int64
          description: 输出命中敏感词类型
    RetrieveFileResp:
      type: object
      properties:
        file:
          $ref: '#/components/schemas/FileObject'
        base_resp:
          $ref: '#/components/schemas/ListRetrieveDeleteFileBaseResp'
      example:
        file:
          file_id: ${file_id}
          bytes: 5896337
          created_at: 1700469398
          filename: output_aigc.mp4
          purpose: video_generation
          download_url: www.downloadurl.com
        base_resp:
          status_code: 0
          status_msg: success
    FileObject:
      type: object
      properties:
        file_id:
          type: integer
          format: int64
          description: 文件的唯一标识符
        bytes:
          type: integer
          format: int64
          description: 文件大小，以字节为单位
        created_at:
          type: integer
          format: int64
          description: 创建文件时的 Unix 时间戳，以秒为单位
        filename:
          type: string
          description: 文件的名称
        purpose:
          type: string
          description: 文件的使用目的
    ListRetrieveDeleteFileBaseResp:
      type: object
      properties:
        status_code:
          type: integer
          description: '状态码如下：

            - 1000, 未知错误

            - 1001, 超时

            - 1002, 触发RPM限流

            - 1004, 鉴权失败

            - 1008, 余额不足

            - 1013, 服务内部错误

            - 1026, 输入内容错误

            - 1027, 输出内容错误

            - 1039, 触发TPM限流

            - 2013, 输入格式信息不正常


            更多内容可查看[错误码查询列表](/api-reference/errorcode)了解详情'
        status_msg:
          type: string
          description: 状态详情
    DeleteFileReq:
      type: object
      required:
      - file_id
      - purpose
      properties:
        file_id:
          type: integer
          format: int64
          description: 文件的唯一标识符
        purpose:
          type: string
          description: '文件使用目的。取值及支持格式如下：

            1. voice_clone

            2. prompt_audio

            3. t2a_async

            4. t2a_async_input

            5. video_generation'
          enum:
          - voice_clone
          - prompt_audio
          - t2a_async
          - t2a_async_input
          - video_generation
      example:
        file_id: ${file_id}
        purpose: t2a_async_input
    DeleteFileResp:
      type: object
      properties:
        file_id:
          type: integer
          format: int64
          description: The unique identifier for the file.
        base_resp:
          $ref: '#/components/schemas/ListRetrieveDeleteFileBaseResp'
      example:
        file_id: ${file_id}
        base_resp:
          status_code: 0
          status_msg: success
    ListFileResp:
      type: object
      properties:
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileObject'
          description: List of files
        base_resp:
          $ref: '#/components/schemas/ListRetrieveDeleteFileBaseResp'
      example:
        files:
        - file_id: ${file_id}
          bytes: 5896337
          created_at: 1699964873
          filename: 297990555456011.tar
          purpose: t2a_async_input
        - file_id: ${file_id}
          bytes: 5896337
          created_at: 1700469398
          filename: 297990555456911.tar
          purpose: t2a_async_input
        base_resp:
          status_code: 0
          status_msg: success
    UploadFileResp:
      type: object
      properties:
        file:
          $ref: '#/components/schemas/FileObject'
        base_resp:
          $ref: '#/components/schemas/UploadFileBaseResp'
      example:
        file:
          file_id: ${file_id}
          bytes: 5896337
          created_at: 1700469398
          filename: MiniMax Open Platform-Test bot.docx
          purpose: t2a_async_input
        base_resp:
          status_code: 0
          status_msg: success
    UploadFileBaseResp:
      type: object
      properties:
        status_code:
          type: integer
          description: '状态码如下：

            - 1000, 未知错误

            - 1001, 超时

            - 1002, 触发RPM限流

            - 1004, 鉴权失败

            - 1008, 余额不足

            - 1013, 服务内部错误

            - 1026, 输入内容错误

            - 1027, 输出内容错误

            - 1039, 触发TPM限流

            - 2013, 输入格式信息不正常


            更多内容可查看[错误码查询列表](/api-reference/errorcode)了解详情'
        status_msg:
          type: string
          description: 状态详情
    QueryVideoGenerationTaskResp:
      type: object
      properties:
        task_id:
          type: string
          description: 被查询的任务 ID
        status:
          $ref: '#/components/schemas/VideoProcessStatus'
        file_id:
          type: string
          description: 任务成功时返回，用于获取视频文件的文件 ID
        video_width:
          type: integer
          description: 任务成功时返回，生成视频的宽度（像素）.
        video_height:
          type: integer
          description: 任务成功时返回，生成视频的高度（像素）
        base_resp:
          $ref: '#/components/schemas/QueryVideoGenerationTaskBaseResp'
      example:
        task_id: '176843862716480'
        status: Success
        file_id: '176844028768320'
        video_width: 1920
        video_height: 1080
        base_resp:
          status_code: 0
          status_msg: success
    VideoProcessStatus:
      type: string
      enum:
      - Preparing
      - Queueing
      - Processing
      - Success
      - Fail
      description: '任务的当前状态。可能的状态值包括：

        - `Preparing` – 准备中

        - `Queueing` – 队列中

        - `Processing` – 生成中

        - `Success` – 成功

        - `Fail` – 失败'
    QueryVideoGenerationTaskBaseResp:
      type: object
      properties:
        status_code:
          type: integer
          description: '状态码及其分别含义如下：

            - 0：请求成功

            - 1002：触发限流，请稍后再试

            - 1004：账号鉴权失败，请检查 api key是否填写正确

            - 1026：输入内容涉及敏感内容

            - 1027：生成视频涉及敏感内容


            更多内容可查看[错误码查询列表](/api-reference/errorcode)了解详情'
        status_msg:
          type: string
          description: 状态信息，成功时为 `success`.
    VideoGenerationReq:
      type: object
      required:
      - model
      - prompt
      properties:
        model:
          type: string
          description: "模型名称。可用值：\n `MiniMax-Hailuo-2.3`, `MiniMax-Hailuo-02`, `T2V-01-Director`,\
            \ `T2V-01`."
          enum:
          - MiniMax-Hailuo-2.3
          - MiniMax-Hailuo-02
          - T2V-01-Director
          - T2V-01
        prompt:
          type: string
          description: "视频的文本描述，最大 2000 字符。对于 `MiniMax-Hailuo-2.3`、`MiniMax-Hailuo-02`\
            \ 和 `*-Director` 系列模型，支持使用 `[指令]` 语法进行运镜控制。\n可在 prompt 中通过 [指令] 格式添加运镜指令，以实现精确的镜头控制。\n\
            \n- 支持 15 种运镜指令的指令:\n\t - 左右移: [左移], [右移]\n\t - 左右摇: [左摇], [右摇]\n\t -\
            \ 推拉: [推进], [拉远]\n\t - 升降: [上升], [下降]\n\t - 上下摇: [上摇], [下摇]\n\t - 变焦:\
            \ [变焦推近], [变焦拉远]\n\t - 其他: [晃动], [跟随], [固定]\n\n - 使用规则:\n\t - 组合运镜: 同一组\
            \ [] 内的多个指令会同时生效，如 [左摇,上升]，建议组合不超过 3 个\n\t - 顺序运镜: prompt 中前后出现的指令会依次生效，如\
            \ \"...[推进], 然后...[拉远]\"\n\t - 自然语言: 也支持通过自然语言描述运镜，但使用标准指令能获得更准确的响应 "
        prompt_optimizer:
          type: boolean
          description: 是否自动优化 `prompt`，默认为 `true`。设为 `false` 可进行更精确的控制
        fast_pretreatment:
          type: boolean
          description: 是否缩短 `prompt_optimizer` 的优化耗时，默认为 false。仅对 `MiniMax-Hailuo-2.3`
            和 `MiniMax-Hailuo-02` 模型生效。
        duration:
          type: integer
          description: '视频时长（秒），默认值为 6。其可用值与模型和分辨率相关：

            | Model |  720P |768P | 1080P |

            | :--- |:--- |:--- | :--- |

            | MiniMax-Hailuo-2.3 | - | `6` 或 `10` | `6` |

            | MiniMax-Hailuo-02 | - | `6` 或 `10` | `6` |

            | 其他模型 | `6` | - |`6` |  '
        resolution:
          type: string
          description: '视频分辨率。其可用值与模型相关：

            | Model | 6s | 10s |

            | :--- | :--- | :--- |

            | MiniMax-Hailuo-2.3 |  `768P` (默认), `1080P` |  `768P` (默认) |

            | MiniMax-Hailuo-02 |  `768P` (默认), `1080P` |  `768P` (默认) |

            | 其他模型 | `720P` (默认) | 不支持 |'
          enum:
          - 720P
          - 768P
          - 1080P
        callback_url:
          type: string
          description: 接收任务状态更新通知的回调 URL。支持配置回调地址，验证通过后当任务状态变更时会推送最新状态。状态包括：processing（生成中）、success（成功）、failed（失败）
        aigc_watermark:
          type: boolean
          description: 是否在生成的视频中添加水印，默认为 `false`
      example:
        model: MiniMax-Hailuo-2.3
        prompt: A man picks up a book [Pedestal up], then reads [Static shot].
        duration: 6
        resolution: 1080P
    VideoGenerationResp:
      type: object
      properties:
        task_id:
          type: string
          description: 视频生成任务的 ID，用于后续查询任务状态
        base_resp:
          $ref: '#/components/schemas/BaseResp'
      example:
        task_id: '106916112212032'
        base_resp:
          status_code: 0
          status_msg: success
    SubjectReference:
      type: object
      required:
      - type
      - image
      properties:
        type:
          type: string
          description: 主体类型，当前仅支持 `character` (人物面部)
        image:
          type: array
          items:
            type: string
          description: "包含主体参考图的数组（目前仅支持单张图片）\n\n- 图片要求：\n\t- 格式：JPG, JPEG, PNG, WebP\n\
            \t- 体积：小于 20MB\n\t- 尺寸：短边像素大于 300px，长宽比在 2:5 和 5:2 之间  "
    RetrieveFileBaseResp:
      type: object
      properties:
        status_code:
          type: integer
          description: '状态码如下：

            - 1000, 未知错误

            - 1001, 超时

            - 1002, 触发RPM限流

            - 1004, 鉴权失败

            - 1008, 余额不足

            - 1013, 服务内部错误

            - 1026, 输入内容错误

            - 1027, 输出内容错误

            - 1039, 触发TPM限流

            - 2013, 输入格式信息不正常


            更多内容可查看[错误码查询列表](/api-reference/errorcode)了解详情'
        status_msg:
          type: string
          description: 状态详情
    ImageGenerationReq:
      type: object
      required:
      - prompt
      - model
      properties:
        model:
          type: string
          description: 模型名称。可选值：`image-01`，`image-01-live`
          enum:
          - image-01
          - image-01-live
        prompt:
          type: string
          description: 图像的文本描述，最长 1500 字符
        style:
          $ref: '#/components/schemas/StyleObject'
          type: object
          description: 画风设置，仅当 `model` 为 `image-01-live` 时生效
        aspect_ratio:
          type: string
          description: '图像宽高比，默认为 1:1。可选值：

            - `1:1` (1024x1024)

            - `16:9` (1280x720)

            - `4:3` (1152x864)

            - `3:2` (1248x832)

            - `2:3` (832x1248)

            - `3:4` (864x1152)

            - `9:16` (720x1280)

            - `21:9` (1344x576) (仅适用于`image-01`)'
          enum:
          - '1:1'
          - '16:9'
          - '4:3'
          - '3:2'
          - '2:3'
          - '3:4'
          - '9:16'
          - '21:9'
        width:
          type: integer
          description: 生成图片的宽度（像素）。仅当 model 为 `image-01` 时生效。注意：`width` 和 `height`
            需同时设置，取值范围[512, 2048]，且必须是 8 的倍数。若与 `aspect_ratio` 同时设置，则优先使用 `aspect_ratio`
        height:
          type: integer
          description: 生成图片的高度（像素）。仅当 model 为 `image-01` 时生效。注意：`width` 和 `height`
            需同时设置，取值范围[512, 2048]，且必须是 8 的倍数。若与 `aspect_ratio` 同时设置，则优先使用 `aspect_ratio`
        response_format:
          type: string
          enum:
          - url
          - base64
          default: url
          description: '返回图片的形式，默认为 url。可选值：url, base64。

            ⚠️ 注意：url 的有效期为 24 小时'
        seed:
          type: integer
          format: int64
          description: 随机种子。使用相同的 seed 和参数，可以生成内容相近的图片，用于复现结果。如未提供，算法会对 n 张图单独生成随机种子
        n:
          type: integer
          default: 1
          minimum: 1
          maximum: 9
          description: 单次请求生成的图片数量，取值范围[1, 9]，默认为 1
        prompt_optimizer:
          type: boolean
          default: false
          description: 是否开启 prompt 自动优化，默认为 `false`.
        aigc_watermark:
          type: boolean
          description: 是否在生成的图片中添加水印，默认为 `false`
      example:
        model: image-01
        prompt: A man in a white t-shirt, full-body, standing front view, outdoors,
          with the Venice Beach sign in the background, Los Angeles. Fashion photography
          in 90s documentary style, film grain, photorealistic.
        aspect_ratio: '16:9'
        response_format: url
        n: 3
        prompt_optimizer: true
    ImageGenerationResp:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DataObject'
        metadata:
          type: object
          properties:
            success_count:
              type: integer
              description: N成功生成的图片数量
            failed_count:
              type: integer
              description: Number of images blocked due to content safety.
          description: 因内容安全检查失败而未返回的图片数量
        id:
          type: string
          description: 生成任务的 ID，用于后续查询任务状态
        base_resp:
          $ref: '#/components/schemas/BaseResp'
      example:
        id: 03ff3cd0820949eb8a410056b5f21d38
        data:
          image_urls:
          - XXX
          - XXX
          - XXX
        metadata:
          failed_count: '0'
          success_count: '3'
        base_resp:
          status_code: 0
          status_msg: success
    StyleObject:
      type: object
      properties:
        style_type:
          type: string
          description: 画风风格类型。可选值：`漫画`, `元气`, `中世纪`, `水彩`
        style_weight:
          type: number
          format: float
          description: 画风权重，取值范围 `(0, 1]`，默认 `0.8`
      required:
      - style_type
    DataObject:
      type: object
      properties:
        image_urls:
          type: array
          items:
            type: string
          description: 当 `response_format` 为 `url` 时返回，包含图片链接的数组
        image_base64:
          type: array
          items:
            type: string
          description: 当 `response_format` 为 `base64` 时返回，包含图片 Base64 编码的数组
    ImageSubjectReference:
      type: object
      required:
      - type
      - image_file
      properties:
        type:
          type: string
          description: 主体类型，当前仅支持 `character` (人像)
        image_file:
          type: string
          description: "参考图文件。支持公网 URL 或 Base64 编码的 [Data URL](https://developer.mozilla.org/en-US/docs/Web/URI/Reference/Schemes/data)\
            \ (`data:image/jpeg;base64,...`)\n为获得最佳效果，请上传单人正面照片\n\n- 图片要求：\n\t- 格式：JPG,\
            \ JPEG, PNG\n\t- 大小：小于 10MB"
    T2VReq:
      type: object
      required:
      - prompt
      - preview_text
      properties:
        prompt:
          type: string
          description: 音色描述。
        preview_text:
          type: string
          description: '试听音频文本。

            注：试听音频的合成将收取 2 元/万字符的费用'
          maxLength: 500
        voice_id:
          type: string
          description: 自定义生成音色的 voice_id。当不传入此参数时，将自动生成并返回一个唯一的 `voice_id`
        aigc_watermark:
          type: boolean
          description: 是否在合成试听音频的末尾添加音频节奏标识，默认值为 False
      example:
        prompt: 讲述悬疑故事的播音员，声音低沉富有磁性，语速时快时慢，营造紧张神秘的氛围。
        preview_text: 夜深了，古屋里只有他一人。窗外传来若有若无的脚步声，他屏住呼吸，慢慢地，慢慢地，走向那扇吱呀作响的门……
    T2VResp:
      type: object
      properties:
        voice_id:
          type: string
          description: 生成的音色 ID，可用于语音合成
        trial_audio:
          type: string
          description: 使用生成的音色合成的试听音频，以 hex 编码形式返回
        base_resp:
          type: object
          description: 状态码和状态详情
          properties:
            status_code:
              type: integer
              format: int64
              description: '状态码。


                - `0`: 请求结果正常

                - `1000`: 未知错误

                - `1001`: 超时

                - `1002`: 触发 RPM 限流

                - `1004`: 鉴权失败

                - `1008`: 余额不足

                - `1013`: 服务内部错误

                - `1027`: 输出内容错误

                - `1039`: 触发 TPM 限流

                - `2013`: 输入格式信息不正常


                更多内容可查看 [错误码查询列表](/api-reference/errorcode) 了解详情'
            status_msg:
              type: string
              description: 状态详情
      example:
        trial_audio: hex 编码音频
        voice_id: ttv-voice-2025060717322425-xxxxxxxx
        base_resp:
          status_code: 0
          status_msg: success
    VoiceCloneReq:
      type: object
      required:
      - file_id
      - voice_id
      properties:
        file_id:
          type: integer
          format: int64
          description: '待复刻音频的 file_id，通过[文件上传接口](/api-reference/file-management-upload)获得

            上传的待复刻音频文件需遵从以下规范：


            - 上传的音频文件格式需为：mp3、m4a、wav 格式

            - 上传的音频文件的时长最少应不低于 10 秒，最长应不超过 5 分钟

            - 上传的音频文件大小需不超过 20 mb

            - 若使用该参数，则两个子属性（prompt_audio、prompt_text）都为必填项'
        voice_id:
          type: string
          description: '克隆音色的 voice_id，正确示例："MiniMax001"。用户进行自定义 voice_id 时需注意：


            - 自定义的 voice_id 长度范围[8,256]

            - 首字符必须为英文字母

            - 允许数字、字母、-、_

            - 末位字符不可为 -、_

            - voice_id 不可与已有 id 重复，否则会报错'
        clone_prompt:
          $ref: '#/components/schemas/ClonePrompt'
          description: '音色复刻示例音频，提供本参数将有助于增强语音合成的音色相似度和稳定性。若使用本参数，需同时上传一小段示例音频

            上传的音频文件需遵从以下规范：


            - 上传的音频文件格式需为：mp3、m4a、wav 格式

            - 上传的音频文件的时长小于 8 秒

            - 上传的音频文件大小需不超过 20 mb'
        text:
          type: string
          description: "复刻试听参数，限制 1000 字符以内。模型将使用复刻后的音色朗读本段文本内容，并返回试听音频链接。\n 注：试听将根据字符数正常收取语音合成费用，定价与\
            \ T2A 各接口一致\n- 语气词标签：仅当模型选择 `speech-2.8-hd` 或 `speech-2.8-turbo` 时，支持在文本中插入语气词标签。支持的语气词：`(laughs)`（笑声）、`(chuckle)`（轻笑）、`(coughs)`（咳嗽）、`(clear-throat)`（清嗓子）、`(groans)`（呻吟）、`(breath)`（正常换气）、`(pant)`（喘气）、`(inhale)`（吸气）、`(exhale)`（呼气）、`(gasps)`（倒吸气）、`(sniffs)`（吸鼻子）、`(sighs)`（叹气）、`(snorts)`（喷鼻息）、`(burps)`（打嗝）、`(lip-smacking)`（咂嘴）、`(humming)`（哼唱）、`(hissing)`（嘶嘶声）、`(emm)`（嗯）、`(whistles)`（口哨）、`(sneezes)`（喷嚏）、`(crying)`（抽泣）、`(applause)`（鼓掌）"
        model:
          type: string
          description: 复刻试听参数。指定合成试听音频使用的语音模型，提供 `text` 字段时必传此字段。可选项：
          enum:
          - speech-2.8-hd
          - speech-2.8-turbo
          - speech-2.6-hd
          - speech-2.6-turbo
          - speech-02-hd
          - speech-02-turbo
          - speech-01-hd
          - speech-01-turbo
        language_boost:
          type: string
          description: 是否增强对指定的小语种和方言的识别能力。默认值为 null，可设置为 `auto` 让模型自主判断。
          enum:
          - Chinese
          - Chinese,Yue
          - English
          - Arabic
          - Russian
          - Spanish
          - French
          - Portuguese
          - German
          - Turkish
          - Dutch
          - Ukrainian
          - Vietnamese
          - Indonesian
          - Japanese
          - Italian
          - Korean
          - Thai
          - Polish
          - Romanian
          - Greek
          - Czech
          - Finnish
          - Hindi
          - Bulgarian
          - Danish
          - Hebrew
          - Malay
          - Persian
          - Slovak
          - Swedish
          - Croatian
          - Filipino
          - Hungarian
          - Norwegian
          - Slovenian
          - Catalan
          - Nynorsk
          - Tamil
          - Afrikaans
          - auto
        need_noise_reduction:
          type: boolean
          description: 音频复刻参数，表示是否开启降噪，默认值为 false
          default: false
        need_volume_normalization:
          type: boolean
          description: 音频复刻参数，是否开启音量归一化，默认值为 false
          default: false
        aigc_watermark:
          type: boolean
          description: 是否在合成试听音频的末尾添加音频节奏标识，默认值为 false
          default: false
      example:
        file_id: 123456789
        voice_id: <voice_id>
        clone_prompt:
          prompt_audio: 987654321
          prompt_text: This voice sounds natural and pleasant.
        text: A gentle breeze sweeps across the soft grass(breath), carrying the fresh
          scent along with the songs of birds.
        model: speech-2.8-hd
        need_noise_reduction: false
        need_volume_normalization: false
        aigc_watermark: false
    VoiceCloneResp:
      type: object
      properties:
        input_sensitive:
          type: object
          description: 输入音频是否命中风控
          properties:
            type:
              type: integer
              description: '输入音频命中风控的类型，取值为以下其一：


                - 0：正常

                - 1：严重违规

                - 2：色情

                - 3：广告

                - 4：违禁

                - 5：谩骂

                - 6：暴恐

                - 7：其他'
        demo_audio:
          type: string
          description: 如果请求体中传入了试听文本 text 以及合成试听音频的模型 model，那么本参数将以链接形式返回试听音频，否则本参数为空值
        base_resp:
          $ref: '#/components/schemas/VoiceCloneBaseResponse'
      example:
        input_sensitive: false
        input_sensitive_type: 0
        demo_audio: ''
        base_resp:
          status_code: 0
          status_msg: success
    ClonePrompt:
      type: object
      properties:
        prompt_audio:
          type: integer
          format: int64
          description: 示例音频的 file_id，通过 [文件上传接口](/api-reference/file-management-upload)
            获得
        prompt_text:
          type: string
          description: 示例音频的对应文本，需确保和音频内容一致，句末需有标点符号做结尾
    VoiceCloneBaseResponse:
      type: object
      required:
      - status_code
      properties:
        status_code:
          type: integer
          format: int64
          description: '状态码


            - 0: 请求结果正常

            - 1000：未知错误

            - 1001：超时

            - 1002：触发限流

            - 1004：鉴权失败

            - 1013：服务内部错误

            - 2013：输入格式信息不正常

            - 2038：无复刻权限，请检查账号认证状态


            更多内容可查看[错误码查询列表](/api-reference/errorcode)了解详情'
        status_msg:
          type: string
          description: 状态详情
    T2AAsyncV2Req:
      type: object
      required:
      - model
      - text
      - text_file_id
      - voice_setting
      properties:
        model:
          type: string
          description: 请求的模型版本，可选范围：`speech-2.8-hd`, `speech-2.8-turbo`, `speech-2.6-hd`,
            `speech-2.6-turbo`, `speech-02-hd`, `speech-02-turbo`, `speech-01-hd`,
            `speech-01-turbo`.
          enum:
          - speech-2.8-hd
          - speech-2.8-turbo
          - speech-2.6-hd
          - speech-2.6-turbo
          - speech-02-hd
          - speech-02-turbo
          - speech-01-hd
          - speech-01-turbo
        text:
          type: string
          description: '待合成音频的文本，限制最长 5 万字符。和 `text_file_id` 二选一必填

            - 语气词标签：仅当模型选择 `speech-2.8-hd` 或 `speech-2.8-turbo` 时，支持在文本中插入语气词标签。支持的语气词：`(laughs)`（笑声）、`(chuckle)`（轻笑）、`(coughs)`（咳嗽）、`(clear-throat)`（清嗓子）、`(groans)`（呻吟）、`(breath)`（正常换气）、`(pant)`（喘气）、`(inhale)`（吸气）、`(exhale)`（呼气）、`(gasps)`（倒吸气）、`(sniffs)`（吸鼻子）、`(sighs)`（叹气）、`(snorts)`（喷鼻息）、`(burps)`（打嗝）、`(lip-smacking)`（咂嘴）、`(humming)`（哼唱）、`(hissing)`（嘶嘶声）、`(emm)`（嗯）、`(whistles)`（口哨）、`(sneezes)`（喷嚏）、`(crying)`（抽泣）、`(applause)`（鼓掌）'
        text_file_id:
          type: integer
          format: int64
          description: "待合成音频的文本文件 待合成音频的文本文件 id，单个文件长度限制小于 10 万字符，支持的文件格式：txt、zip。和\
            \ `text` 二选一必填，传入后自动校验格式。\n- **txt 文件**：长度限制 <100,000 字符。支持使用 <#x#> 标记自定义停顿。x\
            \ 为停顿时长（单位：秒），范围 [0.01,99.99]，最多保留两位小数。注意停顿需设置在两个可以语音发音的文本之间，不可连续使用多个停顿标记\n\
            - **zip 文件**：\n\t- 压缩包内需包含同一格式的 txt 或 json 文件。\n\t- json 文件格式：支持 [`title`,\
            \ `content`, `extra`] 三个字段，分别表示标题、正文、附加信息。若三个字段都存在，则产出 3 组结果，共 9 个文件，统一存放在一个文件夹中。若某字段不存在或内容为空，则该字段不会生成对应结果"
        voice_setting:
          $ref: '#/components/schemas/T2AAsyncV2VoiceSetting'
        audio_setting:
          $ref: '#/components/schemas/T2AAsyncV2AudioSetting'
        pronunciation_dict:
          $ref: '#/components/schemas/T2AAsyncV2PronunciationDict'
        language_boost:
          type: string
          description: '是否增强对指定的小语种和方言的识别能力。默认值为 `null`，可设置为 `auto` 让模型自主判断。


            注意：speech-01 和 speech-02 系列模型暂不支持 Persian、Filipino、Tamil 这三个语种。'
          enum:
          - Chinese
          - Chinese,Yue
          - English
          - Arabic
          - Russian
          - Spanish
          - French
          - Portuguese
          - German
          - Turkish
          - Dutch
          - Ukrainian
          - Vietnamese
          - Indonesian
          - Japanese
          - Italian
          - Korean
          - Thai
          - Polish
          - Romanian
          - Greek
          - Czech
          - Finnish
          - Hindi
          - Bulgarian
          - Danish
          - Hebrew
          - Malay
          - Persian
          - Slovak
          - Swedish
          - Croatian
          - Filipino
          - Hungarian
          - Norwegian
          - Slovenian
          - Catalan
          - Nynorsk
          - Tamil
          - Afrikaans
          - auto
          default: null
        voice_modify:
          $ref: '#/components/schemas/VoiceModify'
        aigc_watermark:
          type: boolean
          description: 控制在合成音频的末尾添加音频节奏标识，默认值为 False。该参数仅对非流式合成生效
          default: false
    T2AAsyncV2Resp:
      type: object
      properties:
        task_id:
          type: string
          description: 当前任务的 ID
        file_id:
          type: integer
          format: int64
          description: '任务创建成功后返回的对应音频文件的 ID。

            - 当任务完成后，可通过 file_id 调用 [文件检索接口](/api-reference/file-management-retrieve)
            进行下载

            - 当请求出错时，不返回该字段

            注意：返回的下载 URL 自生成起 9 小时（32,400 秒）内有效，过期后文件将失效，生成的信息便会丢失，请注意下载信息的时间'
        task_token:
          type: string
          description: 完成当前任务使用的密钥信息
        usage_characters:
          type: integer
          description: 计费字符数
        base_resp:
          $ref: '#/components/schemas/BaseResp'
    T2AAsyncV2VoiceSetting:
      type: object
      required:
      - voice_id
      properties:
        voice_id:
          type: string
          description: "合成音频的音色编号。若需要设置混合音色，请设置 timbre_weights 参数，本参数设置为空值。支持系统音色、复刻音色以及文生音色三种类型，以下是部分最新的系统音色（ID），可查看\
            \ [系统音色列表](/faq/system-voice-id) 或使用 [查询可用音色 API](/api-reference/voice-management-get)\
            \ 查询系统支持的全部音色\n\n - **中文**:\n\t- moss_audio_ce44fc67-7ce3-11f0-8de5-96e35d26fb85\n\
            \t- moss_audio_aaa1346a-7ce7-11f0-8e61-2e6e3c7ee85d\n\t- Chinese (Mandarin)_Lyrical_Voice\n\
            \t- Chinese (Mandarin)_HK_Flight_Attendant\n- **英文**:\n\t- English_Graceful_Lady\n\
            \t- English_Insightful_Speaker\n\t- English_radiant_girl\n\t- English_Persuasive_Man\n\
            \t- moss_audio_6dc281eb-713c-11f0-a447-9613c873494c\n\t- moss_audio_570551b1-735c-11f0-b236-0adeeecad052\n\
            \t- moss_audio_ad5baf92-735f-11f0-8263-fe5a2fe98ec8\n\t- English_Lucky_Robot\n\
            - **日文**:\n\t- Japanese_Whisper_Belle\n\t- moss_audio_24875c4a-7be4-11f0-9359-4e72c55db738\n\
            \t- moss_audio_7f4ee608-78ea-11f0-bb73-1e2a4cfcd245\n\t- moss_audio_c1a6a3ac-7be6-11f0-8e8e-36b92fbb4f95"
        speed:
          type: number
          format: float
          description: 合成音频的语速，取值越大，语速越快。取值范围 `[0.5,2]`，默认值为1.0
          minimum: 0.5
          maximum: 2
          default: 1
        vol:
          type: number
          format: float
          description: 合成音频的音量，取值越大，音量越高。取值范围 `(0,10]`，默认值为 1.0
          exclusiveMinimum: 0
          maximum: 10
          default: 1
        pitch:
          type: integer
          description: 合成音频的语调，取值范围 `[-12,12]`，默认值为 0，其中 0 为原音色输出
          minimum: -12
          maximum: 12
          default: 0
        emotion:
          type: string
          description: "控制合成语音的情绪，参数范围 `[\"happy\", \"sad\", \"angry\", \"fearful\"\
            , \"disgusted\", \"surprised\", \"calm\", \"fluent\", \"whisper\"]`，分别对应\
            \ 8 种情绪：高兴，悲伤，愤怒，害怕，厌恶，惊讶，中性，生动，低语 \r\n- 模型会根据输入文本自动匹配合适的情绪，一般无需手动指定 \
            \ \r\n- 该参数仅对 `speech-2.8-hd`, `speech-2.8-turbo`, `speech-2.6-hd`, `speech-2.6-turbo`,\
            \ `speech-02-hd`, `speech-02-turbo`, `speech-01-hd`, `speech-01-turbo`\
            \ 模型生效 \r\n- 选项 `fluent`, `whisper` 仅对 `speech-2.6-turbo`, `speech-2.6-hd`\
            \ 模型生效，`speech-2.8-hd`, `speech-2.8-turbo` 模型不支持 `whisper`"
          enum:
          - happy
          - sad
          - angry
          - fearful
          - disgusted
          - surprised
          - calm
          - fluent
          - whisper
        english_normalization:
          type: boolean
          description: 支持英语文本规范化，开启后可提升数字阅读场景的性能，但会略微增加延迟，默认 false
          default: false
    T2AAsyncV2AudioSetting:
      type: object
      properties:
        audio_sample_rate:
          type: integer
          format: int64
          default: 32000
          description: 生成音频的采样率。可选范围 `[8000，16000，22050，24000，32000，44100]`，默认为 `32000`
        bitrate:
          type: integer
          format: int64
          default: 128000
          description: 生成音频的比特率。可选范围 `[32000，64000，128000，256000]`，默认值为 `128000`。该参数仅对
            `mp3` 格式的音频生效
        format:
          type: string
          description: 生成音频的格式。可选范围`[mp3, pcm, flac]`，默认值为 `mp3`
          enum:
          - mp3
          - pcm
          - flac
          default: mp3
        channel:
          type: integer
          format: int64
          default: 2
          description: 生成音频的声道数。可选范围：`[1,2]`，其中 `1` 为单声道，`2` 为双声道，默认值为 1
    T2AAsyncV2PronunciationDict:
      type: object
      properties:
        tone:
          type: array
          description: '定义需要特殊标注的文字或符号对应的注音或发音替换规则。在中文文本中，声调用数字表示：

            一声为 1，二声为 2，三声为 3，四声为 4，轻声为 5

            示例如下：

            `["燕少飞/(yan4)(shao3)(fei1)", "omg/oh my god"]`'
          items:
            type: string
    VoiceModify:
      type: object
      description: 声音效果器设置
      properties:
        pitch:
          type: integer
          description: '音高调整（低沉/明亮），范围 [-100,100]，数值接近 -100，声音更低沉；接近 100，声音更明亮


            ![pitch adjustment](https://filecdn.minimax.chat/public/5d210c47-4236-4e81-893b-16cc1ef0302d.png)'
          minimum: -100
          maximum: 100
        intensity:
          type: integer
          description: '强度调整（力量感/柔和），范围 [-100,100]，数值接近 -100，声音更刚劲；接近 100，声音更轻柔


            ![intensity adjustment](https://filecdn.minimax.chat/public/862d493e-71d5-4d1f-b7c3-9ac51890631b.png)'
          minimum: -100
          maximum: 100
        timbre:
          type: integer
          description: '音色调整（磁性/清脆），范围 [-100,100]，数值接近 -100，声音更浑厚；数值接近 100，声音更清脆


            ![timbre adjustment](https://filecdn.minimax.chat/public/5f0e6cae-363a-452b-8d42-fbc4ef5a0510.png)'
          minimum: -100
          maximum: 100
        sound_effects:
          type: string
          description: '音效设置，单次仅能选择一种，可选值：

            1. spacious_echo（空旷回音）

            2. auditorium_echo（礼堂广播）

            3. lofi_telephone（电话失真）

            4. robotic（电音）'
          enum:
          - spacious_echo
          - auditorium_echo
          - lofi_telephone
          - robotic
    T2AAsyncV2QueryResp:
      type: object
      properties:
        task_id:
          type: integer
          format: int64
          description: 任务 ID
        status:
          type: string
          description: '该任务的当前状态。


            - **Processing**: 该任务正在处理中

            - **Success**: 该任务已完成

            - **Failed**: 任务失败

            - **Expired**: 任务已过期'
          enum:
          - success
          - failed
          - expired
          - processing
        file_id:
          type: integer
          format: int64
          description: '任务创建成功后返回的对应音频文件的 ID。

            - 当任务完成后，可通过 file_id 调用 [文件检索接口](/api-reference/file-management-retrieve)
            进行下载

            - 当请求出错时，不返回该字段

            注意：返回的下载 URL 自生成起 9 小时（32,400 秒）内有效，过期后文件将失效，生成的信息便会丢失，请注意下载信息的时间'
        base_resp:
          $ref: '#/components/schemas/BaseResp'
      example:
        task_id: 95157322514444
        status: Processing
        file_id: 95157322514496
        base_resp:
          status_code: 0
          status_msg: success
    DeleteVoiceReq:
      type: object
      required:
      - voice_type
      - voice_id
      properties:
        voice_type:
          type: string
          description: 取值范围：`voice_cloning`（克隆的音色）/`voice_generation`（基于文本提示生成的音色），注意仅支持删除这两种类别的音色
          enum:
          - voice_cloning
          - voice_generation
        voice_id:
          type: string
          description: 希望删除音色的 voice_id
      example:
        voice_type: voice_cloning
        voice_id: yanshang11123
    DeleteVoiceResp:
      type: object
      properties:
        voice_id:
          type: string
          description: 被删除声音的 voice_id
        created_time:
          type: string
          description: 该音色生成请求提交的时间，非首次调用生效激活时间，格式为 `yyyy-mm-dd`
        base_resp:
          $ref: '#/components/schemas/DeleteBaseResp'
      example:
        voice_id: yanshang11123
        created_time: '1728962464'
        base_resp:
          status_code: 0
          status_msg: success
    DeleteBaseResp:
      type: object
      description: 状态码及状态详情
      properties:
        status_code:
          type: integer
          format: int64
          description: '状态码


            - `0`: 删除成功

            - `2013`: 输入参数信息不正常


            更多内容可查看 [错误码查询列表](/api-reference/errorcode) 了解详情'
        status_msg:
          type: string
          description: 状态详情
    GetVoiceReq:
      type: object
      required:
      - voice_type
      properties:
        voice_type:
          type: string
          description: '希望查询音色类型，支持以下取值：


            - `system`: 系统音色

            - `voice_cloning`: 快速复刻的音色，仅在成功用于语音合成后才可查询

            - `voice_generation`: 文生音色接口生成的音色，仅在成功用于语音合成后才可查询

            - `all`: 以上全部'
          enum:
          - system
          - voice_cloning
          - voice_generation
          - all
      example:
        voice_type: all
    GetVoiceResp:
      type: object
      properties:
        system_voice:
          type: array
          items:
            $ref: '#/components/schemas/SystemVoiceInfo'
          description: 包含系统预定义的音色。
        voice_cloning:
          type: array
          items:
            $ref: '#/components/schemas/VoiceCloningInfo'
          description: 包含音色快速复刻的音色数据
        voice_generation:
          type: array
          items:
            $ref: '#/components/schemas/VoiceGenerationInfo'
          description: 包含音色生成接口产生的音色数据
        base_resp:
          $ref: '#/components/schemas/BaseResp'
      example:
        system_voice:
        - voice_id: Chinese (Mandarin)_Reliable_Executive
          description:
          - 一位沉稳可靠的中年男性高管声音，标准普通话，传递出值得信赖的感觉。
          voice_name: 沉稳高管
          created_time: '1970-01-01'
        - voice_id: Chinese (Mandarin)_News_Anchor
          description:
          - 一位专业、播音腔的中年女性新闻主播，标准普通话。
          voice_name: 新闻女声
          created_time: '1970-01-01'
        voice_cloning:
        - voice_id: test12345
          description: []
          created_time: '2025-08-20'
        - voice_id: test12346
          description: []
          created_time: '2025-08-21'
        voice_generation:
        - voice_id: ttv-voice-2025082011321125-2uEN0X1S
          description: []
          created_time: '2025-08-20'
        - voice_id: ttv-voice-2025082014225025-ZCQt0U0k
          description: []
          created_time: '2025-08-20'
        base_resp:
          status_code: 0
          status_msg: success
    SystemVoiceInfo:
      type: object
      properties:
        voice_id:
          type: string
          description: 音色 ID
        voice_name:
          type: string
          description: 音色名称，非调用的音色 ID
        description:
          type: array
          items:
            type: string
          description: 音色描述
    VoiceCloningInfo:
      type: object
      properties:
        voice_id:
          type: string
          description: 音色 ID
        description:
          type: array
          items:
            type: string
          description: 生成音色时填写的音色描述
        created_time:
          type: string
          description: 创建时间，格式 yyyy-mm-dd
    VoiceGenerationInfo:
      type: object
      properties:
        voice_id:
          type: string
          description: 音色 ID
        description:
          type: array
          items:
            type: string
          description: 生成音色时填写的音色描述
        created_time:
          type: string
          description: 创建时间，格式 yyyy-mm-dd
    T2aV2Req:
      type: object
      required:
      - model
      - text
      properties:
        model:
          type: string
          description: 请求的模型版本，可选范围：`speech-2.8-hd`, `speech-2.8-turbo`, `speech-2.6-hd`,
            `speech-2.6-turbo`, `speech-02-hd`, `speech-02-turbo`, `speech-01-hd`,
            `speech-01-turbo`.
          enum:
          - speech-2.8-hd
          - speech-2.8-turbo
          - speech-2.6-hd
          - speech-2.6-turbo
          - speech-02-hd
          - speech-02-turbo
          - speech-01-hd
          - speech-01-turbo
        text:
          type: string
          description: '需要合成语音的文本，长度限制小于 10000 字符，若文本长度大于 3000 字符，推荐使用流式输出

            - 段落切换用换行符标记

            - 停顿控制：支持自定义文本之间的语音时间间隔，以实现自定义文本语音停顿时间的效果。使用方式：在文本中增加`<#x#>`标记，`x` 为停顿时长（单位：秒），范围
            [0.01, 99.99]，最多保留两位小数。文本间隔时间需设置在两个可以语音发音的文本之间，不可连续使用多个停顿标记

            - 语气词标签：仅当模型选择 `speech-2.8-hd` 或 `speech-2.8-turbo` 时，支持在文本中插入语气词标签。支持的语气词：`(laughs)`（笑声）、`(chuckle)`（轻笑）、`(coughs)`（咳嗽）、`(clear-throat)`（清嗓子）、`(groans)`（呻吟）、`(breath)`（正常换气）、`(pant)`（喘气）、`(inhale)`（吸气）、`(exhale)`（呼气）、`(gasps)`（倒吸气）、`(sniffs)`（吸鼻子）、`(sighs)`（叹气）、`(snorts)`（喷鼻息）、`(burps)`（打嗝）、`(lip-smacking)`（咂嘴）、`(humming)`（哼唱）、`(hissing)`（嘶嘶声）、`(emm)`（嗯）、`(sneezes)`（喷嚏）'
        stream:
          type: boolean
          description: 控制是否流式输出。默认 false，即不开启流式
        stream_options:
          $ref: '#/components/schemas/T2AStreamOption'
        voice_setting:
          $ref: '#/components/schemas/T2AVoiceSetting'
        audio_setting:
          $ref: '#/components/schemas/T2AAudioSetting'
        pronunciation_dict:
          $ref: '#/components/schemas/PronunciationDict'
        timbre_weights:
          type: array
          items:
            $ref: '#/components/schemas/TimbreWeights'
        language_boost:
          type: string
          description: '是否增强对指定的小语种和方言的识别能力。默认值为 `null`，可设置为 `auto` 让模型自主判断。


            注意：speech-01 和 speech-02 系列模型暂不支持 Persian、Filipino、Tamil 这三个语种。'
          enum:
          - Chinese
          - Chinese,Yue
          - English
          - Arabic
          - Russian
          - Spanish
          - French
          - Portuguese
          - German
          - Turkish
          - Dutch
          - Ukrainian
          - Vietnamese
          - Indonesian
          - Japanese
          - Italian
          - Korean
          - Thai
          - Polish
          - Romanian
          - Greek
          - Czech
          - Finnish
          - Hindi
          - Bulgarian
          - Danish
          - Hebrew
          - Malay
          - Persian
          - Slovak
          - Swedish
          - Croatian
          - Filipino
          - Hungarian
          - Norwegian
          - Slovenian
          - Catalan
          - Nynorsk
          - Tamil
          - Afrikaans
          - auto
          default: null
        voice_modify:
          $ref: '#/components/schemas/VoiceModify'
        subtitle_enable:
          type: boolean
          description: 控制是否开启字幕服务，默认值为 false。仅对 `speech-2.8-hd`, `speech-2.8-turbo`,
            `speech-2.6-hd`, `speech-2.6-turbo`, `speech-02-hd`, `speech-02-turbo`,
            `speech-01-hd`, `speech-01-turbo` 模型有效
          default: false
        output_format:
          type: string
          description: 控制输出结果形式的参数，可选值范围为[`url`, `hex`]，默认值为 `hex` 。该参数仅在非流式场景生效，流式场景仅支持返回
            hex 形式。返回的 url 有效期为 24 小时
          enum:
          - url
          - hex
          default: hex
        aigc_watermark:
          type: boolean
          description: 控制在合成音频的末尾添加音频节奏标识，默认值为 False。该参数仅对非流式合成生效
          default: false
    T2aV2Resp:
      type: object
      properties:
        data:
          type: object
          description: 返回的合成数据对象，可能为 null，需进行非空判断
          properties:
            audio:
              type: string
              description: 合成后的音频数据，采用 hex 编码，格式与请求中指定的输出格式一致
            subtitle_file:
              type: string
              description: 合成的字幕下载链接。音频文件对应的字幕，精确到句（不超过 50 字），单位为毫秒，格式为 json
            status:
              type: integer
              description: 当前音频流状态：1 表示合成中，2 表示合成结束
        trace_id:
          type: string
          description: 本次会话的 id，用于在咨询/反馈时帮助定位问题
        extra_info:
          type: object
          description: 音频的附加信息
          properties:
            audio_length:
              type: integer
              format: int64
              description: 音频时长（毫秒）
            audio_sample_rate:
              type: integer
              format: int64
              description: 音频采样率
            audio_size:
              type: integer
              format: int64
              description: 音频文件大小（字节）
            bitrate:
              type: integer
              format: int64
              description: 音频比特率
            audio_format:
              type: string
              description: 生成音频文件的格式。取值范围 `[mp3, pcm, flac]`
              enum:
              - mp3
              - pcm
              - flac
            audio_channel:
              type: integer
              format: int64
              description: 生成音频声道数,1：单声道，2：双声道
            invisible_character_ratio:
              type: number
              format: float
              description: 非法字符占比.非法字符不超过 10%（包含 10%），音频会正常生成,并返回非法字符占比数据；如超过 10%
                将进行报错
            usage_characters:
              type: integer
              format: int64
              description: 计费字符数
            word_count:
              type: integer
              format: int64
              description: 已发音的字数统计，包含汉字、数字、字母，不包含标点符号
        base_resp:
          type: object
          description: 本次请求的状态码和详情
          properties:
            status_code:
              type: integer
              format: int64
              description: "状态码。\n\n 您可在header中获取本次会话的trace_id，用于在咨询/反馈时帮助定位问题 \n\n\
                - `0`: 请求结果正常\n- `1000`: 未知错误\n- `1001`: 超时\n- `1002`: 触发限流\n- `1004`:\
                \ 鉴权失败\n- `1039`: 触发 TPM 限流\n- `1042`: 非法字符超过 10%\n- `2013`: 输入参数信息不正常\n\
                \n更多内容可查看 [错误码查询列表](/api-reference/errorcode) 了解详情"
            status_msg:
              type: string
              description: 状态详情
    T2AStreamOption:
      type: object
      properties:
        exclude_aggregated_audio:
          type: boolean
          description: 设置最后一个 chunk 是否包含拼接后的语音 hex 数据。默认值为 False，即最后一个 chunk 中包含拼接后的完整语音
            hex 数据
    T2AVoiceSetting:
      type: object
      required:
      - voice_id
      properties:
        voice_id:
          type: string
          description: "合成音频的音色编号。若需要设置混合音色，请设置 timbre_weights 参数，本参数设置为空值。支持系统音色、复刻音色以及文生音色三种类型，以下是部分最新的系统音色（ID），可查看\
[...]
